.portfolio-image{
    width: 800px;
    height: 300px;
    margin: auto;
}

.portfolio-container{
    margin: auto;
    width: 800px;
    height: 300px;
}

.portfolio-header{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}