.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills__column {
    flex: 1;
    margin: 10px;
}

.skills__column-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.skills__column-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portfolio-image{
    width: 800px;
    height: 300px;
    margin: auto;
}
 @media (max-width: 767px) {
     .portfolio-container {
         margin: auto;
         max-width: 100%;
     }
     .portfolio-image {
         margin: auto;
         max-width: 100%;
     }
     .portfolio-header {
         margin: auto;
         max-width: 100%;
     }
 }


.portfolio-container{
    margin: auto;
    max-width: 800px;
    height: 300px;
}

.portfolio-header{
    max-width: 800px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}